<%= form_for @changeset, Routes.messages_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :content, placeholder: "Content", class: "form-control" %>
    <%= error_tag f, :content %>
  </div>
  <%= submit "Post message", class: "btn btn-primary" %>
<% end %>
